body {
    background-color: #1b1a1a;
    font-family: "Bungee", sans-serif;
    color: #fff;
    overflow-x: hidden;
  }
  
a {
    color: #fff;
}
.noDecoration {
    text-decoration: none;
  }
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    margin-top: 1%;
}
.logoDiv{
    margin-left: 2%;
}
.mainMenuContent {
    display: block;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#gameName,
h2 {
    text-align: center; 
}